@CHARSET "UTF-8";

	.estilo {
		border-radius: 100px 100px;
	}
	.cont {
		background-color: black;
	}
	td, tr{
	border:solid white 0.2em;
	}
	#nostyle{
	border:none;
	}
	.horario{
	color:black;
	text-align:center;
	
	}
	#baja{
	background-color: #00ff1a;
	color:black;
	}
	#media{
	background-color: #ff7700;
	}
	#alta{
	background-color: #ff0000;
	color:white;
	}
	#backgr{
	background-color: #131313;
	}
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: Definimos clases con distintos nombres, esto nos permite cambiar el número de columnas que
    ocupa cada elemento en función de la resolución del dispositivo. Para resoluciones entres 600px y 768 px se aplicarán estas clases*/
	/* For tablets: */
	.col-m-1 {
		width: 8.33%;
	}
	.col-m-2 {
		width: 16.66%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.33%;
	}
	.col-m-5 {
		width: 41.66%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.33%;
	}
	.col-m-8 {
		width: 66.66%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.33%;
	}
	.col-m-11 {
		width: 91.66%;
	}
	.col-m-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-25 {
		width: 20.82%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
	
}